* {
font-family: 'Luckiest Guy', cursive;
text-align: center;
}

.game-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

input[type=text] {
border-radius: 25px;
border: none;
background-color: #f2f2f2;
padding: 10px 20px;
font-size: 16px;
box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
transition-duration: 0.3s;
}

input[type=text]:focus {
outline: none;
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
background-color: #e5e5e5;
}

button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 25px;
    transition-duration: 0.3s;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  }
  
  button:hover {
    background-color: #3e8e41; /* Dark green */
  }
  
  button:active {
    background-color: #1c6b1c; /* Even darker green */
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
    transform: scale(0.95);
  }

.scoreboard{
    font-size: 18px;
}

/* game button design */

.game-button {
    background-color: #4CAF50; /* Green */
    border: none;
    padding: 0;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 25px;
    transition-duration: 0.3s;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  }
  
  .game-button img {
    width: 50px;
    height: 50px;
    padding: 10px;
  }
  
  .game-button:hover {
    background-color: #3e8e41; /* Dark green */
  }
  
  .game-button:active {
    background-color: #1c6b1c; /* Even darker green */
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
    transform: scale(0.95);
  }


  /* result section */
  #result-text {
    animation: pulse 2s ease-in-out infinite;
    font-size: 16px;
    font-weight: 700;
  }
  
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }

/* This CSS will not be active by default */
.final-result-border {
    position: relative;
    font-size: 24px;
    font-weight: 700;
  }

.final-result-border:before {
    content: '';
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    border: 2px solid #f9b625;
    border-radius: 25px;
    z-index: -1;
    animation: popup 1s ease-in-out normal;
  }
  
  @keyframes popup {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }